body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 1px;
}
.postcard-body {
	display: flex;
}
.1 {
	margin-top: 0px;
}
.2 {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 2px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: blanchedalmond;
	padding: 5px;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
input {
	background-color: beige;
}
.postcard-header {
	font-family: sans-serif;
}
